/*heb mijn eigen font gemaakt en gebruikt*/
@font-face {
  font-family: 'myfont';
  src: url(fonts/Myfont-Regular.ttf);
}

@font-face {
  font-family: 'handschrift2';
  src: url(fonts/Handschrift2-Regular.ttf);
}

/* Is voor alles, ik wil nergens onverwachte padding of margin hebben dus daarom is dit 0*/
/* border-box geeft alleen de (width, height) waardes die jij wilt (in verschillende browsers is het anders bijvoorbeeld)*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-card: #FFF5DC;
  --color-card-dark: rgba(92, 66, 14, 0.36);
  --color-earth: #374A2E;
  --background-img-front-earth: url(/images/earth_front.jpg);
  --background-img-back-earth: url(/images/earth_background.jpg);

  font-size: 20px;
}


body {
  height: 100vh;
  overflow: hidden;
  background:  var(--background-img-back-earth) rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  /* backdrop-filter: darken; */
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  padding: 2em;
	display:grid;
	place-items:center;
  backdrop-filter: blur(8px);

  color: var(--color-earth);
  font-family: 'myfont';


}

article {
  background: url('/images/paper-background.jpg') var(--color-card) ;
  background-size: cover;
  background-position: center;

  width: 100%;
  max-width: 20em;
  padding: 1em;
  border-radius: 1em;
  align-self: center;

  overflow: hidden;
  position: relative;
  box-shadow:  0px 9px 0px #B8AA86;

}

header {
  font-size: 1.2em;
  padding-bottom: .5em;
  width: 100%;
  z-index: 1;

  h1 {
    margin-left: 1.5em;
    position: relative;
  }
}

main {
  position: relative;
  overflow: hidden;
  height: 100%;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
  

}

.id-number {
  position: absolute;
  background: url('/images/paper-background.jpg') var(--color-card) ;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10000px;

}

header .id-number {
  top: 0;
  left: 0;
  z-index: 1;

  h3 {
    z-index: 100;
  }

}

footer .id-number {
  position: absolute;

  bottom: 0;
  right: 0;
}

/* Hier zit de avatar in */
main > section:nth-of-type(1) {
  background-image: var(--background-img-front-earth);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;

  padding: 4em;

  box-shadow: inset 0px 0px 30px rgba(0,0,0,1);
  position: relative;

  &::before {
    content: "";
    background-image: url('/images/paper-background_black.jpg');
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.40;
  }

  img {
    width: 100%;
    min-width: 8em;
    &::after {
      content: "";
      /* background-image: url('/images/paper-background_black.jpg'); */
      background-color: aqua;
      background-size: contain;
      background-position: center;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.40;
      z-index: 100;
    }
  }

  .avatar {
    mask-image: url(/images/icons/mask.svg);
    mask-position: center;
    mask-size: cover;


  }

  .tape {
    margin: auto -5em;
    z-index: 100;
    width: 192px;
    height: 128px;
    rotate: 90deg;

    &:nth-of-type(1) {
      rotate: 50deg;
    }
  }
}

main > section:nth-of-type(2) {
  background: var(--color-card-dark);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;

  padding: 1em;
  padding-bottom: 3em;

  section {
    display: flex;


    justify-content: space-between;
    align-items: center;
    width: 100%;


  }

  h3 {
    text-transform: uppercase;
    font-size: 1.8em;
    align-self: flex-start;
    min-width: .5em;
    width: 100%;
  }

  div {
    width: 100%;
    /* min-width: 9em; */
    gap: .2em;
    margin: 0 2em;
    display: flex;
    justify-content: center;
  }

  small {
    text-align: right;
    min-width: .5em;
    width: 100%;
  }

  img {
      width: 100%;
      width: 1em;
      justify-self: center;
      
  }


}

main > section:nth-of-type(3) {
  background-color: var(--color-earth);

  position: absolute;
  text-align: center;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;

  bottom: calc(-95% + 2em);
  padding: .5em;

  height: 95%;
  width: 100%;

  transition: .3s ease;

  cursor: pointer;

  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  &:hover {
    bottom: -85%;
    
  }

  button {
    all: unset;
    color: var(--color-card);
  }
}