/*heb mijn eigen font gemaakt en gebruikt*/
@font-face {
  font-family: 'myfont';
  src: url(fonts/Myfont-Regular.ttf);
}

@font-face {
  font-family: 'nanumPenScript';
  src: url('/fonts/NanumPenScript-Regular.ttf');
}

@font-face {
  font-family: 'handschrift2';
  src: url(fonts/Handschrift2-Regular.ttf);
}

/* Is voor alles, ik wil nergens onverwachte padding of margin hebben dus daarom is dit 0*/
/* border-box geeft alleen de (width, height) waardes die jij wilt (in verschillende browsers is het anders bijvoorbeeld)*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-card: #FFF5DC;
  --color-card-dark: rgba(92, 66, 14, 0.36);
  --color-earth: #374A2E;
  --background-img-front-earth: url(/images/earth_front.jpg);
  --background-img-back-earth: url(/images/earth_background.jpg);
  --element-symbol: url('/images/icons/earth.png');
  --element-symbol-atk: url('/images/icons/earth.png');
  --card-shadow: #B8AA86;

  font-size: 20px;
}


body {
  height: 100vh;
  overflow: hidden;
  background:  var(--background-img-back-earth) rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  /* backdrop-filter: darken; */
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  padding: 2em;
	display:grid;
	place-items:center;
  backdrop-filter: blur(8px);

  color: var(--color-earth);
  font-family: 'myfont', 'nanumPenScript', sans-serif;

  &.element-water {
    --background-img-back-earth: url('/images/Underwater\ world_background.jpg');
    --background-img-front-earth: url('/images/Underwater\ world-front.jpg');
    --color-earth: #10315F;
    --element-symbol: url('/images/icons/water.png');
    --element-symbol-atk: url('/images/icons/water.png');
  }

  &.element-earth {
    --background-img-back-earth: url('/images/earth_background.jpg');
    --background-img-front-earth: url('/images/earth_front.jpg');
    --color-earth: #374A2E;
    --element-symbol: url('/images/icons/earth.png');
    --element-symbol-atk: url('/images/icons/earth.png');
  }

  &.element-fire {
    --background-img-back-earth: url('/images/fire-background.jpg');
    --background-img-front-earth: url('/images/fire-front.jpg');
    --color-earth: #8F1500;
    --element-symbol: url('/images/icons/fire.png');
    --element-symbol-atk: url('/images/icons/fire.png');
  }

  &.element-air {
    --background-img-back-earth: url('/images/air_background.jpg');
    --background-img-front-earth: url('/images/air_front.jpg');
    --color-earth: #080806;
    --element-symbol: url('/images/icons/air_white.png');
    --element-symbol-atk: url('/images/icons/air.png');
    --card-shadow: #B8AA86;
  }
}

article {
  background: url('/images/paper-background.jpg') var(--color-card) ;
  background-size: cover;
  background-position: center;

  width: 100%;
  max-width: 20em;
  padding: 1em;
  border-radius: 1em;
  align-self: center;

  overflow: hidden;
  position: relative;
  box-shadow:  0px 9px 0px var(--card-shadow);

}

header {
  font-size: 1.2em;
  padding-bottom: .5em;
  width: 100%;
  z-index: 1;

  text-align: center;
  

  h1 {
    position: relative;
  }
}

main {
  position: relative;
  overflow: hidden;
  height: 100%;
  box-shadow: inset 0px 0px 30px rgba(0,0,0,0.5);
  border-radius: .2em;
  

}

.id-number {
  position: absolute;
  background: url('/images/paper-background.jpg') var(--color-card) ;
  /* background-color: aqua; */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  font-size: 1.5rem;
  border-radius: 10000px;
}

header .id-number {
  top: 0;
  left: 0;
  z-index: 1;

  h3 {
    z-index: 100;
  }

}

footer .id-number {
  position: absolute;

  bottom: 0;
  right: 0;
  z-index: 101;
}

/* Hier zit de avatar in */
main > section:nth-of-type(1) {
  background-image: var(--background-img-front-earth);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  /* border-top-right-radius: .3em; */
  padding: 4em;
  /* padding-bottom: 3em; */

  box-shadow: inset 0px 0px 30px rgba(0,0,0,1);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    background-image: url('/images/paper-background_black.jpg');
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.40;
    
  }

  img {
    width: 100%;
    min-width: 8em;
    

  }

  .avatar {
    mask-image: url(/images/icons/mask.svg);
    mask-position: center;
    mask-size: cover;

  }

  .tape {
    margin: auto -5em;
    z-index: 100;
    width: 192px;
    height: 128px;
    rotate: 90deg;

    &:nth-of-type(1) {
      rotate: 50deg;
    }
  }
}

.element {
  background-color: var(--color-earth);
  width: 80px;
  height: 80px;
  margin: -40px auto;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 1000px;
  overflow: hidden;


  &::before {
    content: "";
    background-image: url('/images/paper-background_black.jpg');
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.20; 
  }

  & div {
    background-image: var(--element-symbol);
    /* background-color: blueviolet; */
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    z-index: 100;
    
  }
}

main > section:nth-of-type(2) {
  background: var(--color-card-dark);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;

  padding: 3em 1em;
  position: relative;

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.8em;
    align-self: flex-start;
    min-width: .5em;
    width: 100%;
  }

  .stats {
    width: 100%;
    /* min-width: 9em; */
    gap: .2em;
    margin: 0 2em;
    display: flex;
    justify-content: center;

    .atk {
      background-image: var(--element-symbol-atk);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      width: 1em;
      height: 30px;
    }
  }

  small {
    text-align: right;
    min-width: .5em;
    width: 100%;
    font-size: 1.5rem;
  }

  img {
      width: 100%;
      width: 1em;
      justify-self: center;
  }

  .disabled {
    opacity: 50% !important;
    filter: saturate(0%);
  }
}

main > section:nth-of-type(3) {
  background-color: var(--color-earth);
  position: absolute;
  text-align: center;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  bottom: calc(-95% + 2em);
  height: 95%;
  width: 100%;
  padding: 0 1em;
  transition: .3s ease;
  z-index: 100;
  display: block;
  /* cursor: pointer; */

  

  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  &:hover {
    bottom: -86%;
    
  }

  button {
    all: unset;
    /* display: inline-block; */
    padding: .5em;
    width: 100%;
    display: block;
    /* background-color: rebeccapurple; */
    cursor: pointer;
    /* position: absolute; */
    
    color: var(--color-card);
    /* display: flex; */
  }

  .close {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* padding: 1em; */
    margin-top: 1em;
    width: 10px;
    height: 10px;
    font-size: larger;
    /* display: block; */
    background-color: var(--color-card);
    color: var(--color-earth);
    border-radius: 1000px;
    justify-self: end;
    /* float: right; */

  }

  section {
    width: 100%;
    height: 80%;
    background: url('/images/paper-background.jpg') var(--color-card) ;
    mask-image: url('/images/mask_paper_note.svg');
    mask-position: center;
    mask-size: cover;
    /* background-image: url('/images/paper_note.png'); */
    background-size: 100% 100%;
    background-position: top left;
    background-repeat: no-repeat;
    /* margin: 1em; */
    margin-top: .5em;
    margin-bottom: 5em;
    padding: 1em;
    padding-top: 2em;
    text-align: left;
  }
}

.longer {
  bottom: 0 !important;
  
}

.hidden {
  display: none !important;
}

